Loading the dataset csv's into data frames and printing the first 10 values in the data set for each data frame to ensure that the data is being read and stored correctly

In [ ]:
import pandas as pd

dataset_1 = pd.read_csv("CO2 emission by countries.csv")
dataset_2 = pd.read_csv("Historical Tropical Storm.csv")
dataset_3 = pd.read_csv("global_temps.csv")

print("From Dataset 1: CO2 emission by countries")
print(dataset_1.head(10))
print("\n")

print("From Dataset 2: Historical Tropical Storm")
print(dataset_2.head(10))
print("\n")

print("From Dataset 3: global_temps")
print(dataset_3.head(10))
print("\n")

Cleaning the data by replacing nan values with approprate values for the specific column, by first identifying where the nan values are in the datasets

In [ ]:
#Identify the number of missing values in the datasets
print("Missing values from Dataset 1: CO2 emission by countries")
print(dataset_1.isnull().sum())
print("\n")

print("Missing values from Dataset 2: Historical Tropical Storm")
print(dataset_2.isnull().sum())
print("\n")

print("Missing values from Dataset 3: global_temps")
print(dataset_3.isnull().sum())
print("\n")

In [ ]:
#Replacing the nan values in the datasets for "CO2 emission by countries"

#Identifying the categories in the "Code" column so I can match the format when filling in the nan values
print("Unique Code Values")
print(dataset_1["Code"].unique())
print("n")

#Format 2 letters in all caps, if nan replace with "XX"
dataset_1["Code"] = dataset_1["Code"].fillna("XX") 


#Identifying the categories in the "Calling Code" column so I can match the format when filling in the nan values
print("Unique Calling Code Values")
print(dataset_1["Calling Code"].unique())
print("n")

#Format 2 - 4 characters, if nan replace with "000"
dataset_1["Calling Code"] = dataset_1["Calling Code"].fillna("000") 


#Following the fomat I saw by overview the column, the values are int, I'll replace the missing population values with the avarage value of the population columns
#Doing the same for the "Area" and "% of World"

find_avg= ["Population(2022)", "Area"]#, "% of World"]

#temp assigning the nan values to 0 for the summing
dataset_1[find_avg] = dataset_1[find_avg].fillna(0)

#casting to int
dataset_1[find_avg] = dataset_1[find_avg].astype(int)

agv = dataset_1[find_avg].mean()
dataset_1[find_avg] = dataset_1[find_avg].fillna(agv) 


# "% of World" and "Density(km2)"" seem to be of type string, replacing the nan values with "Unknown" <-- not feeling too sure about the method I used here
nan_to_unknown= ["% of World", "Density(km2)"]
dataset_1[nan_to_unknown] = dataset_1[nan_to_unknown].fillna("Unknown")


#Updating the dataset_1 csv
dataset_1.to_csv("CO2 emission by countries.csv", index= False)

#Testing if the change was made
print("Missing values from Dataset 1: CO2 emission by countries")
print(dataset_1.isnull().sum())
print("\n")

In [ ]:
#Cleaning the global_temps dataset


#Filling in all nan values with the avarage value of their column
find_avg_value= ["Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "J-D", "D-N", "DJF", "JJA", "SON"]

#temp assigning the nan values to 0 for the summing
dataset_3[find_avg_value] = dataset_3[find_avg_value].fillna(0)

#casting to float
dataset_3[find_avg_value] = dataset_3[find_avg_value].astype(float)

agv_value = dataset_3[find_avg_value].mean()
dataset_3[find_avg_value] = dataset_3[find_avg_value].fillna(agv_value) 


#Updating the dataset_3 csv
dataset_3.to_csv("global_temps.csv", index= False)

#Testing if the change was made
print("Missing values from Dataset 3: global_temps")
print(dataset_3.isnull().sum())
print("\n")

Merging the 3 datasets together, joining dataset_1 "CO2 emission by countries" with dataset_2 "Historical Tropical Storm" using their years attribute, then taking at join dataset and connecting it to "global_temps" using the month and year attributes

In [ ]:
#changeing the attribute names to match where the are being joined
dataset_2 = dataset_2.rename(columns={"YEAR": "Year"})

#modifiy dataset_3 so it is more aligned with the format of the other data types for merging
dataset_3 = pd.melt(dataset_3,
                    id_vars=  ["Year"],
                    value_vars=  ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    var_name=  "MONTH", #matching dataset_2
                    value_name=  "Temp")

#dataset_2 has the months in numbers and dataset_3 has them in string, so I mapped the values
mapping = {"Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12}
dataset_3["MONTH"] = dataset_3["MONTH"].map(mapping)

dataset_4 = pd.merge(dataset_1, dataset_2, on= "Year", how= "left") #left for keeping all data from both csv for now

#print(dataset_4.head(5))

final_dataset = pd.merge(dataset_4, dataset_3, on= ["Year", "MONTH"], how= "inner") #inner for keeping only matching data from all csv

#creating and writing to a new csv
final_dataset.to_csv("completed_dataset_for_IS_project_25.csv", index= False)

#Loading the new csv
final_dataset_values = pd.read_csv("completed_dataset_for_IS_project_25.csv")

#Printing the first 5 rows of the final dataset csv
print("From the Final Dataset: completed_dataset_for_IS_project_25")
print(final_dataset_values.head(5))
print("\n")